@import '../config';

nav.layout-navigation {
    section {

        &.navigation-strap {
            @include Flex(sb, c);
            padding: .75em 1em;
            background: $clr-greend;
    
            p {
                color: $clr-whitel;
                font-weight: 500;
                font-size: .9rem;
            }
        }

        &.navigation-center {
            @include Flex(sb, c);
            padding: 1em 1.5em;
            left: 0;
            top: 0;
            width: 100%;
            background: $clr-whitel;
            z-index: 999;

            a.logo {
                letter-spacing: 3px;
                text-decoration: none;
                font-weight: 700;
                text-transform: uppercase;
                color: $clr-blackd;
                font-size: 1.5rem;
                font-family: 'Epilogue', sans-serif;
                
                span {
                    font-size: inherit;
                    font-weight: inherit;
                    color: $clr-greend;
                }
            }

            section.searchbar {
                @include Flex(sb);
                width: 50%;

                input {
                    flex-grow: 1;
                    padding: 0 .75em;
                    outline: 0;
                    border: 2px solid $clr-greenl;
                    @include Clamp(.8, 4, .95);
                    font-family: 'Epilogue', sans-serif;
                    border-right: 0;
                    border-radius: .15em 0 0 .15em;
                    background: none;
                }

                span {
                    @include Rectangle(clamp(35px, 7vw, 55px));
                    background: $clr-greenl;
                    @include Flex(c, c);

                    svg {
                        color: $clr-whitel;
                        @include FullSize(50%);
                    }
                }
            }

            ul.links {
                list-style: none;
                display: flex;

                li {
                    margin-left: 1em;
                    position: relative;

                    &::before {
                        content: attr(data-type);
                        position: absolute;
                        width: max-content;
                        right: 0;
                        opacity: 0;
                        top: 50%;
                        translate: 0 -50%;
                        transition: .5s;
                        pointer-events: none;
                        background: $clr-greend;
                        color: $clr-whitel;
                        font-size: .85rem;
                        font-weight: 600;
                        padding: 0 .25em;
                        border-radius: .15em;
                        text-transform: uppercase;
                    }

                    span,
                    figure {
                        @include Rectangle(clamp(28px, 7vw, 35px))
                    }

                    span {
                        color: $clr-blackd;
                        transition: .5s;
                    }

                    figure {
                        cursor: pointer;

                        img {
                            @include FullSize;
                            object-fit: cover;
                        }
                    }

                    &.logout {
                        margin-left: 2em;
                        cursor: pointer;
                        
                        span { color: $clr-red; }
                    }

                    a {
                        display: flex;
                        justify-content: flex-start;
                        text-decoration: none;

                        p {
                            translate: 0 -50%;
                            height: max-content;
                            color: $clr-greend;
                            font-weight: 700;
                            padding: 0 .25em;
                            @include Clamp(.9, 5, 1.1);
                        }
                    }

                    &:hover {
                        &::before {
                            right: 110%;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.navigation-bottom {
            @include Flex(sb, c);
            @include BottomShadow(5);
            padding: .75em;
            padding-bottom: 0;
            position: relative;

            section.navigation-menu {
                aside.menu {
                    position: absolute;
                    left: .5em;
                    top: calc(100% + 10px);
                    z-index: 2;
                    width: 29%;
                    background: rgba(245, 245, 245, .975);
                    transition: .5s;
                    padding: .5em;

                    ul {
                        list-style: none;

                        li {
                            a {
                                @include Flex(none, c);
                                padding: 1em;
                                color: $clr-blackd;
                                border-left: 0px solid $clr-greend;
                                text-decoration: none;
                                letter-spacing: 1px;
                                @include Clamp(.9, 4, 1);
                                transition: .3s;

                                span {
                                    @include Rectangle(clamp(25px, 8vw, 35px));
                                    min-width: 25px;
                                    margin-right: clamp(1em, 7vw, 4em);
                                    color: $clr-greenl;
                                }

                                &:hover {
                                    border-width: 6px;
                                }
                            }
                        }
                    }
                }

                p.toggler {
                    cursor: pointer;
                    @include Flex(none, c);
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: -1px;

                    span {
                        @include Rectangle(30px);
                        margin-left: .5em;
                        transition: .5s;
                    }
                }
            }

            ul.nav-links {
                list-style: none;
                display: flex;

                li {
                    a {
                        padding: 1em;
                        display: block;
                        font-family: 'Epilogue', sans-serif;
                        color: $clr-blackd;
                        text-decoration: none;
                        transition: .5s;
                        @include Clamp(.85, 4, 1);

                        &:hover {
                            color: $clr-greenl;
                        }
                    }
                }
            }
        }

        @media (max-width: 1000px) {
            &.navigation-center a.logo { display: none; }
        }

        @media (max-width: 768px) {
            &.navigation-center {
                padding: 1em .5em;

                ul.links {
                    li {
                        margin-left: .5em;

                        &.logout {
                            margin-left: 1em;
                        }
                    }
                }

                section.searchbar {
                    position: relative;
                    height: clamp(35px, 7vw, 55px);

                    input {
                        width: 100%;
                    }

                    span {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }

            &.navigation-bottom {
                flex-direction: column;
                align-items: flex-start;

                ul.nav-links {
                    width: 100%;

                    li {
                        flex-grow: 1;

                        a {
                            padding: 1em .25em;
                            text-align: center;
                        }
                    }
                }

                section.navigation-menu { 
                    aside.menu {
                        display: none;
                        height: 0;
                        overflow: hidden;
                        left: 0;
                        width: 100%;
                    }

                    p.toggler {
                        font-size: 0;

                        span { 
                            margin-left: 0;
                            @include Rectangle(40px);
                        }
                    }
                }
            }
        }

        @media (max-width: 480px) {
            &.navigation-strap {
                display: none;
            }
        }
    }
}