@import './config';

/*
    font-family: 'Open Sans', sans-serif; 300 - 700
    font-family: 'Epilogue', sans-serif; 300 - 700
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: $clr-whitel;
    font-family: 'Open Sans', sans-serif;
    color: $clr-blackd;

    article.basic-product {
        width: 25%;
        margin: 0 1em;
        flex-shrink: 0;
        padding: 1.5em;
        @include Flex(sb, none, c);
        transition: .5s;
        cursor: pointer;
        border-radius: .2em;

        section {
            @include Flex(none, c);
            color: $clr-greend;
            margin: 1em 0 1.5em 0;

            span {
                @include Rectangle(25px);

                &:not(.active) {
                    color: $clr-blackl;
                }
            }

            p {
                margin-left: .5em;
            }
        }

        p {
            &.price {
                font-weight: 700;
                font-size: 1.5rem;
                letter-spacing: 1px;
                @include Flex(fs);

                &::after {
                    margin-left: .25em;
                    content: '$';
                    font-size: 1rem;
                }
            }

            &.name {
                font-family: 'Epilogue', sans-serif;
                color: $clr-blackl;
                font-size: 1rem;
                font-weight: 500;
            }
        }

        figure {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 1.5em;

            img {
                width: 100%;
            }
        }

        &:hover {
            background: $clr-greenl;

            section span {
                color: $clr-whitel;

                &:not(.active) {
                    color: $clr-blackd;
                }
            }

            p { color: $clr-whitel; }
        }
    }

    section.product-in-stock {
        margin: 1.5em 0;
        border-left: 4px solid $clr-greenl;
        padding: .75em;
        padding-right: 0;

        section {
            background: linear-gradient(90deg, rgba(233,0,0,1) 0%, rgba(246,217,5,1) 50%, rgba(0,255,36,1) 100%);
            width: 50%;
            padding: .5em;
            position: relative;

            span {
                position: absolute;
                top: 50%;
                height: 150%;
                width: 10px;
                background: $clr-whitel;
                translate: 0 -50%;

                &::before {
                    content: attr(data-products);
                    position: absolute;
                    left: 50%;
                    translate: -50% 0;
                    top: 100%;
                    font-weight: 700;
                    font-size: .9rem;
                    color: $clr-blackl;
                    opacity: .7;
                }
            }
        }

        div {
            margin-bottom: .5em;
            @include Flex(none, c);
            
            p {
                font-size: .95rem;
                font-weight: 600;
            }

            span {
                @include Rectangle(25px);
                margin-right: .25em;
            }

            &.green {
                color: $clr-greend;
            }
            &.yellow {
                color: rgb(91, 151, 0);
            }
            &.orange {
                color: orangered;
            }
            &.red {
                color: $clr-red;
            }
        }
    }

    span.layout-arrow {
        position: fixed;
        @include Rectangle(30px);
        right: 6px;
        bottom: 6px;
        cursor: pointer;
        background: $clr-greenl;
        color: $clr-whitel;
        @include Flex(c, c);
        opacity: 0;
        transition: .5s;
        pointer-events: none;

        svg { @include FullSize(80%) }
    }

    svg {
        @include FullSize;
    }
}
