@import '../config';

section.home-informations {
    padding: 3em 0;
    @include Flex(sb);

    article {
        flex-grow: 1;
        max-width: 22%;
        margin: 0 .8em;
        border-bottom: 5px solid $clr-greend;
        padding: 1em;
        position: relative;

        span {
            @include Rectangle(clamp(50px, 15vw, 80px));
            margin: 0 auto;
            border-radius: 50%;
            background: $clr-greend;
            @include Flex(c, c);
            color: $clr-whitel;

            svg {
                @include FullSize(70%);
            }
        }

        p {
            text-align: center;
            transition: .5s;

            &.header {
                font-weight: 700;
                font-size: 1.25rem;
                margin: .25em 0;
                color: $clr-blackl;
            }

            &.desc {
                font-size: .95rem;
            }
        }

        button {
            width: 100%;
            background: $clr-greend;
            outline: 0;
            border: 0;
            margin-top: 2em;
            border-radius: .25em;
            cursor: pointer;

            label {
                display: block;
                pointer-events: none;
                font-size: .9rem;
                padding: .75em 0;
                color: $clr-whitel;
                text-transform: uppercase;
            }
        }

        &::before {
            content: '';
            transition: .5s;
            position: absolute;
            bottom: 0;
            height: 0;
            width: 100%;
            pointer-events: none;
            z-index: -1;
            left: 0;
            background: $clr-greend;
        }

        &.active {
            &::before { height: 100%; }

            p.header,
            p.desc { color: $clr-whitel; }
        }
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
        padding-top: .5em;

        article {
            width: calc(50vw - 1.6em);
            flex-grow: 0;
            @include ResetWidth;
        }
    }

    @media (max-width: 480px) {
        article {
            width: 100%
        }
    }
}