@import '../config';

section.home-products {
    padding: 4em 2em;
    @include Flex(none, none, c);

    section.section-description {
        @include Flex(sb, c);
        margin-bottom: 1em;

        p {
            text-transform: uppercase;
            @include Clamp(1.1, 5, 1.25);
            font-family: 'Epilogue', sans-serif;
            border-left: 4px solid $clr-greend;
            padding-left: .3em;
        }

        a {
            text-decoration: none;
            color: $clr-greend;
            @include Flex(none, c);
            @include Clamp(.85, 4, 1);
            font-weight: 500;
            
            &, & > * {transition: .5s;}
            
            span {
                margin-left: .5em;
                @include Rectangle(35px);
            }

            &:hover {
                span { translate: 25% 0; }
                color: $clr-greenl;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 4em .75em;
    }
}