@import '../config';

main.search-page {
    padding: 2em;

    &.products-empty {
        height: 100vh;
        @include Flex(c, c, c);

        div.query-info {
            text-align: center;
            
            h1 {
                font-weight: 600;
                font-size: 2rem;
                font-family: 'Epilogue', sans-serif;
                margin-bottom: .5em;
            }

            h2 {
                font-size: 1.25rem;
                color: rgb(100, 100, 100)
            }
        }

        figure {
            width: 25%;
            margin-top: 3em;

            img {
                width: 100%;
            }
        }
    }

    &.products-found {
        min-height: 100vh;
        margin-top: 4em;
        @include Flex(sb, fs);

        span.filter-toggler {
            @include Rectangle(35px);
            display: none;
            cursor: pointer;
            padding: .25em;
            background: $clr-greenl;
            color: $clr-whitel;
            margin-bottom: .25em;
        }

        form.filter-form {
            transition: .3s;
            width: 25%;
            position: sticky;
            top: 120px;

            div.div-text {
                @include Flex(sb, c);
                margin-bottom: 1.5em;

                button {
                    outline: 0;
                    border: 0;
                    border-radius: .25em;
                    background: $clr-greend;
                    cursor: pointer;
                    transition: .5s;

                    label {
                        display: block;
                        pointer-events: none;
                        color: $clr-whitel;
                        font-size: .9rem;
                        font-weight: 500;
                        padding: .5em .75em;
                    }

                    &:hover {
                        background: $clr-greenl;
                    }
                }

                h3 {
                    font-size: 1.35rem;
                    font-weight: 600;
                }
            }

            section.filter-price {
                margin-bottom: 2em;
                border-top: 2px solid $clr-greyl;
                border-bottom: 2px solid $clr-greyl;
                padding-top: 2em;
                padding-bottom: 2.5em;

                input {
                    width: 100%;
                    appearance: none;
                    border-radius: 2em;
                    border: 2px solid $clr-greenl;
                    height: 1em;
                    background: none;
                    
                    &::-moz-range-thumb {
                        appearance: none;
                        @include Rectangle(30px);
                        background: $clr-greend;
                        border: none;
                    }
                }

                p {
                    font-weight: 500;
                    position: relative;
                    margin-bottom: .5em;
                }
            }

            section.filter-categories {
                section {
                    @include Flex(sb, c);
                    &:not(:last-child) { margin-bottom: 1.25em; }

                    label {
                        @include Flex(none, c);
                        font-weight: 500;
                        cursor: pointer;

                        div {
                            @include Rectangle(25px);
                            border-radius: 50%;
                            margin-right: .5em;
                            border: 2px solid $clr-greend;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                @include FullSize(60%);
                                left: 50%;
                                top: 50%;
                                translate: -50% -50%;
                                border-radius: 50%;
                            }
                        }

                        input[type="radio"]:checked + div::before {
                            background: $clr-greenl;
                        }

                        input {
                            opacity: 0;
                            height: 0;
                            position: fixed;
                            width: 0;
                        }
                    }

                    span {
                        padding: .25em 1em;
                        background: $clr-greend;
                        color: $clr-whitel;
                        font-weight: 600;
                        border-radius: 2em;
                    }
                }
            }
        }
    
        section.products-wrap {
            width: 70%;

            div.query-info {
                margin-bottom: 2em;
                @include Flex(none, c);
                font-size: 1.35rem;

                h1 {
                    font-size: inherit;
                    font-weight: 600;
                }
    
                h2 {
                    font-size: inherit;
                    color: rgb(100, 100, 100);
                    margin-left: .25em;
                }
            }
    
            section.product-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
        
                article {
                    width: 31%;
                    min-width: 220px;
                    margin: 0 .5em;
                    margin-bottom: 4em;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &.products-found {
            flex-direction: column;

            span.filter-toggler {
                display: block;
            }

            form.filter-form {
                width: 100%;
                height: 0;
                display: none;
                overflow: hidden;
                position: static;
            }

            section.products-wrap {
                width: 100%;
                margin-top: 2em;

                section.product-container {
                    article {
                        width: calc(50% - 1em);
                        min-width: 310px;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: .75em;
    }
}