@import '../config';

main.finalized-page {
    height: calc(100vh - 4em);
    @include Flex(c, c, c);

    h1,
    p {
        min-width: 310px;
    }

    h1 {
        width: 50%;
        font-weight: 600;
        @include Clamp(2, 10, 2.5);
        text-align: center;
    }

    p {
        margin: 1em 0;
        @include Clamp(.9, 4, 1.1);
        width: 45%;
        text-align: center;
        font-weight: 500;
        color: $clr-greydr;

        span {
            font-size: inherit;
            font-weight: inherit;
            margin-right: .2em;
            color: $clr-greend;
        }
    }

    button {
        outline: 0;
        border: 0;
        background: $clr-greenl;
        cursor: pointer;
        border-radius: .25em;

        label {
            color: $clr-whitel;
            pointer-events: none;
            padding: 1em 4em;
            display: block;
        }
    }
}