@import '../config';

section.description-section,
section.comments-section {
    margin-bottom: 10em;
    
    &.comments-section {
        @include Flex(sb, fs);

        ul.rating-summary {
            margin-bottom: 3em;
            list-style: none;
            width: 35%;
            position: sticky;
            top: calc(50vh - 15%);

            li {
                @include Flex(sb, c);
                &:not(:last-child) { margin-bottom: .75em; }

                p {
                    color: $clr-greend;
                    @include Clamp(.9, 4, 1.15);
                    font-weight: 500;
                }

                p.total-votes {
                    width: 15%;
                    text-align: right;
                }

                div {
                    &.rating-first {
                        margin-right: .75em;
                        width: 15%;
                        @include Flex(none, c);

                        span {
                            @include Rectangle(clamp(28px, 6vw, 35px));
                            margin-right: .2em;
                            color: $clr-greend;
                        }
                    }

                    &.rating-bar {
                        height: 30px;
                        background: rgb(235, 235, 235);
                        width: 70%;

                        div {
                            height: 100%;
                            background: $clr-greend;
                        }
                    }
                }
            }
        }

        section.comments-wrap {
            width: 60%;

            div.comment-toggler {
                @include Flex(none, c);
                margin-bottom: 3em;
                cursor: pointer;
                width: max-content;

                p {
                    margin-right: 1em;
                    font-family: 'Epilogue', sans-serif;
                    font-weight: 500;
                    font-size: 1.25rem;
                }

                span {
                    @include Rectangle(40px);
                    transition: .5s;
                }
            }

            section.comments-container {
                transition: .5s;

                article {
                    @include Flex(sb, fs);
                    &:not(:last-child) {
                        margin-bottom: 2em;
                    }
    
                    figure {
                        width: 10%;
                        aspect-ratio: 1;
    
                        img {
                            @include FullSize;
                            object-fit: cover;
                        }
                    }
    
                    section.text-wrap {
                        background: rgb(240, 240, 240);
                        width: 90%;
                        padding: .75em;
    
                        p.text {
                            font-size: .95rem;
                            line-height: 2em;
                            margin: .5em 0;
                        }
    
                        section.comment-details {
                            @include Flex(sb, c);
                            margin-top: 1em;
    
                            p {
                                font-size: .85rem;
                                padding: .25em .5em;
                                background: $clr-greenl;
                                border-radius: .25em;
                                color: $clr-whitel; 
                                font-weight: 500;
                            }
                        }
    
                        section.user-rating {
                            display: flex;
    
                            span {
                                @include Rectangle(25px);
    
                                &.active-rate {
                                    color: $clr-greenl;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.description-section {
        @include Flex(sb, none );

        section.description-object {
            @include Flex(fs, c);
            width: 48%;

            &:not(:last-child) {
                margin-bottom: 2em;
            }

            p { @include Clamp(.8, 3, .9) }

            p.header {
                text-transform: uppercase;
                color: rgb(100, 100, 100);
                margin-right: 5em;
            }

            ul {
                list-style: none;
                flex-grow: 1;

                li {
                    @include Flex(sb, c);
                    border-bottom: 1px solid $clr-greyl;
                    padding: 1.5em;

                    p {
                        &.key {
                            font-weight: 600;
                        }

                        &.value {
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        &.comments-section {
            flex-direction: column;

            section.comments-wrap {
                width: 100%;
            }

            ul.rating-summary {
                width: 100%;
                position: static;

                li {
                    p.total-votes { margin: 0; }
                }
            }
        }

        &.description-section {
            section.description-object {
                width: 100%;

                p.header { display: none; }
            }
        }
    }

    @media (max-width: 480px) {
        margin-bottom: 5em;
    }
}

ul.display-select {
    margin-top: 4em;
    margin-bottom: 3em;
    display: flex;
    list-style: none;
    background: rgb(240, 240, 240);
    border-radius: .25em;

    li {
        padding: 1.5em 30px;
        text-align: center;
        cursor: pointer;
        @include Clamp(.8, 3.5, 1);
        position: relative;
        font-weight: 500;
        font-family: 'Epilogue', sans-serif;
        color: $clr-greend;

        span.display-span-indicator {
            background: $clr-greend;
            position: absolute;
            left: 0;
            width: 100%;
            top: 100%;
            height: 5px;
            transition: .5s;
            pointer-events: none;
        }
    }

    @media (max-width: 480px) {
        li { flex-grow: 1; }
    }
}